.cartPage
	.myBag
		font-family: Source Sans Pro
		font-weight: bold
		font-size: 32px
		text-transform: uppercase
		color: #1D1F22
		display: flex
		flex-direction: row
		justify-content: space-between
		.itemCounter
			font-weight: normal
			font-size: 28px
	.item
		margin-top: 16px
		padding-top: 16px
		border-top: 1px solid #E5E5E5
		display: flex
		justify-content: space-between
		width: 100%
		position: relative
		.left
			.productName
				font-family: Raleway
				font-style: normal
				font-weight: 600
				font-size: 30px
				line-height: 42px
				p
					margin: 0
				p:nth-child(2)
					font-weight: normal
			.price
				margin: 12px 0
				font-family: Raleway
				font-style: normal
				font-weight: bold
				font-size: 24px
			.attributes
				margin-top: 24px
				.attribute
					margin-top: 12px
					.name
						margin-bottom: 6px
						font-family: Roboto Condensed
						font-weight: bold
						font-size: 16px
						text-transform: uppercase
		.right
			display: flex
		img
			height: 200px
			width: 140px
			object-fit: contain
		.deleteCross
			position: absolute
			right: 0
		.counter
			display: flex
			flex-direction: column
			justify-content: space-between
	.total
		display: flex
		.price
			margin-left: 8px
	.bottom
		padding: 16px 0
		background-color: #fff
		position: sticky
		bottom: 0
		.buttons
			display: flex
			justify-content: space-between
			.clearCart, .checkout
				width: 49%