@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');
.categoryTitle
	font-family: raleway
	font-size: 42px
	text-transform: capitalize
	margin-top: 64px
	margin-bottom: 64px
	padding-left: 16px

.productCardsList
	display: flex
	flex-wrap: wrap
	position: relative

main
	z-index: -2

.productCard
	// width: 300px
	// height: 325px
	display: flex
	flex-direction: column
	padding: 15px
	margin: 10px
	&:hover
		box-shadow: 0 0 25px 10px #eee
		cursor: pointer
		.productCart, .productHeart
			display: block

.productImageContainer
	position: relative

.productImage
	object-fit: contain
	width: 300px
	height: 300px
	margin-bottom: 24px

	// border-width: 1px
	// border-color: #000
	// border-style: solid

.productName
	font-family: raleway
	font-weight: 300
	font-size: 18px

.productPrice
	font-family: raleway
	font-weight: 500
	font-size: 18px

.productCart
	position: absolute
	right: 12px
	bottom: 0
	display: none

.productHeart
	position: absolute
	right: 12px
	top: 12px
	display: none