.attributeItems
	display: flex
	flex-direction: row
	div
		// margin: 0 8px
		width: 63px
		height: 45px
		display: flex
		justify-content: center
		align-items: center
		box-sizing: border-box
		border-style: solid
		border-color: #000
		border-width: 1px
	.swatch
		border-style: none

.productImagePreviews
	display: flex
	flex-direction: column
	img
		object-fit: contain
		width: 80px
		height: 80px

.productView
	display: flex
	.productImage
		width: 500px
		height: 500px
		object-fit: contain
	// .right
	// 	div
	// 		margin: 12px 2px