@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&family=Source+Sans+Pro&display=swap');

.attributeItems
	display: flex
	flex-direction: row
	div
		// margin: 0 8px
		width: 63px
		height: 45px
		display: flex
		justify-content: center
		align-items: center
		box-sizing: border-box
		border-style: solid
		border-color: #000
		border-width: 1px
		margin-right: 8px
		
		font-family: Source Sans Pro

		cursor: pointer
	.swatch
		border-style: none
	.selected
		&:not(.swatch)
			color: #fff
			background-color: #000
		.swatch

.productImagePreviews
	display: flex
	flex-direction: column
	img
		object-fit: contain
		width: 80px
		height: 80px

.productView
	height: calc(100vh - 61px)// header height
	display: flex
	.productImage
		width: 50vw
		height: 100%
		object-fit: contain
	.right
		width: 50vw
		.productName
			font-weight: normal
			font-size: 30px
		.attribute .name, .priceName
			margin-top: 32px
			font-family: Roboto Condensed
			font-weight: bold
			font-size: 18px
			text-transform: uppercase
			margin-bottom: 12px
		.price
			font-family: raleway
			font-weight: bold
			font-size: 24px
		.addToCart
			background-color: #5ECE7B
			border-style: none
			color: #fff
			font-family: raleway
			font-weight: 600
			font-size: 16px
			text-transform: uppercase
			padding: 16px 32px
			// width: 292px
			width: 100%
			height: 52px
			margin: 32px 0
			&:hover
				cursor: pointer
		.description
			font-family: Roboto
			font-style: normal
			font-size: 16px
			overflow-y: scroll