@import url('https://fonts.googleapis.com/css?family=Raleway')

$selected-color: #00ff00

@mixin setLinkSelectorStyle
	&, &:hover, &:link, &:active, &:visited
		@content

@mixin headerElementStyle($selected)
	.headerElement#{$selected}
		@include setLinkSelectorStyle
		padding: 16px
		color: if($selected == 'Selected', $selected-color, inherit)
		font-family: raleway
		font-size: 24px
		text-transform: uppercase
		text-decoration: none
		// text-decoration: if($selected == 'Selected', underline, inherit)
		border-bottom: if($selected == 'Selected', 2px solid $selected-color, none)

@include headerElementStyle('Selected')
@include headerElementStyle('')

.header
	display: flex
	position: relative
	justify-content: space-between

.logo
	position: absolute
	left: 50%
	transform: translateX(-50%)

.actions
	display: inline-flex
	div
		margin-left: 15px
		margin-right: 15px
	.cart